<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hlk.dao.MoneyMapper" >
  <resultMap id="BaseResultMap" type="com.hlk.pojo.Money" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="monry" property="monry" jdbcType="DOUBLE" />
    <result column="stuid" property="stuid" jdbcType="VARCHAR" />
    <result column="stuname" property="stuname" jdbcType="VARCHAR" />
    <result column="addtime" property="addtime" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, monry, stuid, stuname, addtime, remark
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from money
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from money
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.hlk.pojo.Money" >
    insert into money (id, monry, stuid, 
      stuname, addtime, remark
      )
    values (#{id,jdbcType=INTEGER}, #{monry,jdbcType=DOUBLE}, #{stuid,jdbcType=VARCHAR}, 
      #{stuname,jdbcType=VARCHAR}, #{addtime,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
 
  <update id="updateByPrimaryKeySelective" parameterType="com.hlk.pojo.Money" >
    update money
    <set >
      <if test="monry != null" >
        monry = #{monry,jdbcType=DOUBLE},
      </if>
      <if test="stuid != null" >
        stuid = #{stuid,jdbcType=VARCHAR},
      </if>
      <if test="stuname != null" >
        stuname = #{stuname,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null" >
        addtime = #{addtime,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>



  <select id="getMoneyNum"  resultType="int">
    <![CDATA[
       select count(*) from money where stuid LIKE   concat('%', #{kw},'%')  or stuname like concat('%', #{kw},'%')

        ]]>
  </select>
  <select id="getSum"  resultType="double">
    <![CDATA[
       select sum(monry) from money

        ]]>
  </select>

  <select id="getPageMoney"  resultMap="BaseResultMap">
    <![CDATA[
           select * from money where stuid LIKE   concat('%', #{kw},'%')  or stuname like concat('%', #{kw},'%')
        ]]>
  </select>

</mapper>