<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hlk.dao.PayMapper" >
  <resultMap id="BaseResultMap" type="com.hlk.pojo.Pay" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="addtime" property="addtime" jdbcType="VARCHAR" />
    <result column="addr" property="addr" jdbcType="VARCHAR" />
    <result column="people" property="people" jdbcType="VARCHAR" />
    <result column="money" property="money" jdbcType="DOUBLE" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, addtime, addr, people, money
  </sql>
  
  
  <insert id="insert" parameterType="com.hlk.pojo.Pay" >
    insert into pay (id, addtime, addr, 
      people, money)
    values (#{id,jdbcType=INTEGER}, #{addtime,jdbcType=VARCHAR}, #{addr,jdbcType=VARCHAR}, 
      #{people,jdbcType=VARCHAR}, #{money,jdbcType=DOUBLE})
  </insert>

 <update id="update" parameterType="com.hlk.pojo.Pay">
   update pay
   <set >
     
     <if test=" addtime != null" >
       addtime = #{ addtime,jdbcType=VARCHAR},
     </if>
     <if test=" addr != null" >
       addr = #{ addr,jdbcType=VARCHAR},
     </if>
     <if test=" people != null" >
       people = #{ people,jdbcType=VARCHAR},
     </if>
     <if test=" money != null" >
       money = #{ money,jdbcType=DOUBLE},
     </if>
   </set>
   where id=#{id}
   
 </update>
  <select id="getBanFeiInfo"  resultMap="BaseResultMap" parameterType="int">
    <![CDATA[
           select * from pay where id=#{id}
        ]]>
  </select>

  <select id="getPayNum"  resultType="int">
    <![CDATA[
       select count(*) from pay where addtime LIKE   concat('%', #{kw},'%')

        ]]>
  </select>
  <select id="getPagePay"  resultMap="BaseResultMap">
    <![CDATA[
           select * from pay where addtime LIKE   concat('%', #{kw},'%')
        ]]>
  </select>


  <select id="getSum"  resultType="double">
    <![CDATA[
       select sum(money) from pay

        ]]>
  </select>
</mapper>